<div>
    <!-- Match history table -->
    <table class="table">
        <thead>
        <tr>
            <th>1st player</th>
            <th>Result</th>
            <th>2nd player</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {{#each matches}}
            <tr class="{{#if winner}}success{{/if}} {{#if looser}}danger{{/if}}">
                <td {{#if submitterIsWinner}}class="bold-text"{{/if}}><a href="/users/{{submitter.id}}">{{submitter.name}}</a> ({{submitter.points}})</td>
                <td>{{result}}</td>
                <td {{#unless submitterIsWinner}}class="bold-text"{{/unless}}><a href="/users/{{other.id}}">{{other.name}}</a> ({{other.points}})</td>
                <td>
                  <span class="timed-var" data-time="{{createdAt}}" alt="{{createdAt}}" title="{{createdAt}}">{{createdAt}}</span>
                  {{#ifCond ../actualPage '==' '0'}}
                    {{#ifCond winner '||' looser}}
                      {{#ifCond @index '==' '0'}}

                        <a class="btn btn-danger" href="/matches/deleteLast" style="float: right;">Delete</a>
                      {{/ifCond}}
                    {{/ifCond}}
                  {{/ifCond}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <nav style="text-align: center;">
        {{{pagination actualPage matchPages}}}
        {{!--
        <ul class="pagination">
          {{#for matchPages}}
              <li {{#ifCond this '==' ../actualPage}} class="active" {{/ifCond}}><a href="/matches?page={{this}}">{{inc this}}</a></li>
          {{/for}}
        </ul>
        --}}
    </nav>
</div>
