<div>
    <!-- Match history table -->
    <table class="table">
        <thead>
        <tr>
            <th>1st player</th>
            <th>Result</th>
            <th>2nd player</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {{#each matches}}
            <tr class="{{#if winner}}success{{/if}} {{#if looser}}danger{{/if}}">
                <td>{{submitter.name}} ({{submitter.points}})</td>
                <td>{{result}}</td>
                <td>{{other.name}} ({{other.points}})</td>
                <td class="timed-var" data-time="{{createdAt}}">{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <nav style="text-align: center;">
        <ul class="pagination">
          {{#for matchPages}}
              <li {{#ifCond this '==' ../actualPage}} class="active" {{/ifCond}}><a href="/matches?page={{this}}">{{inc this}}</a></li>
          {{/for}}
        </ul>
    </nav>
</div>
