<div style="margin-top: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="height: 57px;">
            <span style="line-height: 57px; ">Yours</span>
            <span style="float: right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-tournament-modal">
                    <i class="fa fa-plus"></i>
                    <span class="hide-mobile">Add tournament</span>
                </button>
            </span>
        </div>
        <div class="panel-body">
            <table class="table-hover table">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Participants</th>
                      <th>Note</th>
                      <th>Time to start</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each usersTournaments}}
                    <tr class="link-element" data-link="/tournaments/{{id}}">
                        <td>{{name}}</td>
                        <td>{{participants.length}}</td>
                        <td>{{note}}</td>
                        <td class="timed-var" data-time="{{startsAt}}"></td>
                        <td>
                            <a class="btn-success btn" href="/tournaments/{{id}}/start/true">Start</a>
                            <a class="btn btn-danger" href="/tournaments/{{id}}/start/false">Cancel</a>
                        </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Open registration</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Participants</th>
                      <th>Creator</th>
                      <th>Note</th>
                      <th>Time to start</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each openTournaments}}
                    <tr class="link-element" data-link="/tournaments/{{id}}">
                        <td>{{name}}</td>
                        <td>{{participants.length}}</td>
                        <td>{{creator.name}}</td>
                        <td>{{note}}</td>
                        <td class="timed-var" data-time="{{startsAt}}"></td>
                        <td>
                            {{#unless joined}}
                              <a class="btn btn-primary" href="/tournaments/{{id}}/join/true">JOIN</a>
                            {{else}}
                              <a class="btn btn-danger" href="/tournaments/{{id}}/join/false">UN-JOIN</a>
                            {{/unless}}
                        </td>
                    </tr>
                  {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">In progress</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Participants</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each inProgressTournaments}}
                    <tr class="link-element" data-link="/tournaments/{{id}}">
                        <td>{{name}}</td>
                        <td>{{participants.length}}</td>
                        <td>{{note}}</td>
                    </tr>
                  {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Winners</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th>Winner</th>
                      <th>Name</th>
                      <th>Participants</th>
                      <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each finishedTournaments}}
                    <tr class="link-element" data-link="/tournaments/{{id}}">
                        <td><a href="/users/{{winner_id}}">{{winner.name}}</a></td>
                        <td>{{name}}</td>
                        <td>{{participants.length}}</td>
                        <td class="timed-var" data-time="{{updatedAt}}"></td>
                    </tr>
                  {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

