<div>
    <!-- RANK table -->
    <table class="table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>W/L</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr {{#if self}}class="warning"{{/if}}>
                <td>{{rank}}</td>
                <td>{{name}}</td>
                <td>{{points}}</td>
                <td>{{wins}} / {{losts}}</td>
            </tr>
        {{/each}}
        {{#if notRankedUsers.length}}
            <tr class="not-ranked-tr danger">
                <td colspan="5">
                    Not ranked users yet
                </td>
            </tr>
            {{#each notRankedUsers}}
                <tr {{#if self}}class="warning"{{/if}}>
                    <td>-</td>
                    <td>{{name}}</td>
                    <td>{{points}}</td>
                    <td>{{wins}} / {{losts}}</td>
                </tr>
            {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>
