<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Name: {{tournament.name}}</h3>
            <h4>Type: {{tournament.type}}</h4>
            <h4>Created by: {{tournament.creator.name}}</h4>
            <div>
              {{#if tournament.note}}
                Note:
                {{tournament.note}}
              {{/if}}

            </div>
        </div>
        <div class="col-sm-6">
            {{!-- TODO --}}
          {{#if tournaments.winner}}
            <h2>Winner: {{tournaments.winner}}</h2>
          {{else}}
            {{#if matches}}
              {{#each matches}}
                {{match.id}} : {{match.player1_id}} vs {{match.player2_id}}
              {{/each}}
            {{else}}
              <h2>Sorry no info for you.</h2>
            {{/if}}
          {{/if}}

        </div>
    </div>
    <div class="row">
        <iframe src="{{tournament.challonge_url}}/module?theme=1" width="100%" height="300" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div>
</div>
